Options -Indexes

<Files "config.inc.php">
    Order Allow,Deny
    Allow from 127.0.0.1
    Deny from all
</Files>

RewriteEngine On
RewriteRule ^login/?$ index.php?login
RewriteRule ^logout/?$ handler.php?logout
RewriteRule ^pages/?$ index.php?o=0
RewriteRule ^pages/([0-9]+)/?$ index.php?o=$1
RewriteRule ^pages/([a-z\-]+)/?$ index.php?page=$1 [NC]