body {
    background-image: url('../../app/files/bg.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 10px;
}

nav.navbar {
    margin-bottom: 10px;
}

nav.navbar.transparent {
    background-image: url('../../app/files/bg.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.page:not(:last-of-type) {
    margin-bottom: 20px;
}